In [ ]:
!wget https://raw.githubusercontent.com/Ragzz258/my-datasets/main/lang/train1.csv
!wget https://raw.githubusercontent.com/Ragzz258/my-datasets/main/lang/valid1.csv

--2022-11-17 13:43:11--  https://raw.githubusercontent.com/Ragzz258/my-datasets/main/lang/train1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20196138 (19M) [text/plain]
Saving to: ‘train1.csv’

train1.csv          100%[===================>]  19.26M  --.-KB/s    in 0.1s

2022-11-17 13:43:13 (179 MB/s) - ‘train1.csv’ saved [20196138/20196138]

--2022-11-17 13:43:13--  https://raw.githubusercontent.com/Ragzz258/my-datasets/main/lang/valid1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198971 (194K) [text/plain]
Saving to: ‘valid1.csv’

valid1.csv          100%[===================>] 194.31K  --.-KB/s    in 0.01s

2022-11-17 13:43:13 (12.7 MB/s) - ‘valid1.csv’ saved [198971/198971]

In [ ]:
!wget https://raw.githubusercontent.com/SunilGundapu/Word-Level-Language-Identification-in-English-Telugu-Code-Mixed-Data/master/Updated%20Code%20With%20Simple%20ML%20Models/LIDataset/CodemixedShuffle.txt

--2022-11-17 13:43:13--  https://raw.githubusercontent.com/SunilGundapu/Word-Level-Language-Identification-in-English-Telugu-Code-Mixed-Data/master/Updated%20Code%20With%20Simple%20ML%20Models/LIDataset/CodemixedShuffle.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 457801 (447K) [text/plain]
Saving to: ‘CodemixedShuffle.txt’

CodemixedShuffle.tx 100%[===================>] 447.07K  --.-KB/s    in 0.02s

2022-11-17 13:43:13 (19.0 MB/s) - ‘CodemixedShuffle.txt’ saved [457801/457801]

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
def cleanTxt(text):
 text = re.sub('@[A-Za-z0–9]+', '', text)
 text = re.sub('@', '', text)
 text = text.replace('_', '')
 text = text.replace('-', ' ')
 text = re.sub(':[A-Za-z0–9]+', '', text)
 text = text.replace(')', '')
 text = text.replace('(', '')
 text = re.sub('[0-9]', '', text)
 text = text.replace('?','')
 text = text.replace('.','')
 text = re.sub('#', '', text)
 text = re.sub('RT[\s]+', '', text) 
 text = re.sub('http\S+', '', text)
 text = re.sub('/[A-Za-z0–9]+','', text)
 text = re.sub('/','', text)
 text = re.sub("'",'', text)
 text = re.sub('"','', text)
 return(text)

In [ ]:
Words = []
LI_Tags = []
POS_Tags = []
Sent_ID = []

count=1

#Reading data file

dataFile = open("CodemixedShuffle.txt","r")
fileData = dataFile.readlines()
for line in fileData:
    line = cleanTxt(line)
    a = line.split("\t")
    if(len(a)==3):
        Words.append(a[0].strip())
        Sent_ID.append(count)
    else:
        count+=1
        
# Converting data file to data frame

tdf = pd.DataFrame(list(zip(Sent_ID, Words)),
               columns =['Sentence_No', 'Words'])
        

uni = tdf['Sentence_No'].unique()
k =[]
for i in uni:
  a = tdf[tdf['Sentence_No']==i]['Words']
  d = ' '.join(a)
  k.append(d)

te_df = pd.DataFrame()
te_df['input'] = k
te_df['lang'] = 'Telugu'

te_df

                                                  input    lang
0                   Twood  We have craze in uzbekisthan  Telugu
1     Manchu Manoj acting tho start cheddam  Imadhya...  Telugu
2     panja flop ayinapudu pawan fans  flop lo mahes...  Telugu
3                         Varanasi eppudu   twittercom   Telugu
4      Adi ne number emo Eros vallu release chesaru ...  Telugu
...                                                 ...     ...
1982   Ikada oopiri adatledu baitiki tesukelu dialog...  Telugu
1983   eppudu start chesavu  part time ah  pictwitte...  Telugu
1984            neemokam cinema chusemokamena ra badcow  Telugu
1985                            get ready mallu aunties  Telugu
1986  Hahaha ccl ki asalina meaning bale define ches...  Telugu

[1987 rows x 2 columns]

lets take 75 percent for train and remaining for test

In [ ]:
n = int(len(te_df)*0.9)
n

1788

In [ ]:
tr_te_df = te_df[:n]
te_te_df = te_df[n:]

In [ ]:
df = pd.read_csv('train1.csv')

In [ ]:
dff = df[['input','lang']]

removing telugu and tamil as in dataset theyre in some other language not telugu or tamil but labeled telugu,tamil

In [ ]:
dff.where(dff["lang"]!="Telegu",inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:9032: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._where(cond, other, inplace, axis, level, errors=errors)

In [ ]:
dff.where(dff["lang"]!="Tamil",inplace = True)

In [ ]:
dff = dff.dropna()

In [ ]:
dff.head()

                                               input     lang
0          beriliyam oxaid ek akaarbanik yaugik hai.    Hindi
1  San.1870 ralli Bohra purohitara viruddha maadi...  Kannada
2  Dnyaneshwaranchya kalat mhanje 12vya shatakat ...  Marathi
3  Giniyiligalu tamma panjaragalalli galeeju maad...  Kannada
4  Udaaharanege George Lucas avara star wars na t...  Kannada

In [ ]:
dff['lang'].unique()

array(['Hindi', 'Kannada', 'Marathi', 'Bengali'], dtype=object)

adding correct telugu dataset

In [ ]:
dff1 = pd.concat([tr_te_df,dff],axis = 0)

In [ ]:
df1 = dff1.sample(frac=1, random_state=1)
df1 = df1.reset_index()
df1 = df1.drop("index",axis = 1)
df1

                                                   input     lang
0      Owen Lee Hargreaves (jonmo 20 January 1981, Al...  Bengali
1        mb  ki ee class audience entha baaga hand ic...   Telugu
2      Sisira rituvina magha masada krsnapaksa caturd...  Kannada
3      protivaban swagotik springbokderke 1-0 babodha...  Bengali
4      me senapati Fan Ven ne sinhaasan par adhikar k...    Hindi
...                                                  ...      ...
43408  Pholshruti-te jatiyo dol-e khelar jonyo tini a...  Bengali
43409  Jayindravarman ashtam ke rajya mein Shri Surya...    Hindi
43410  1991 saaler Novembere tatkalin roosh rastrapat...  Bengali
43411  Bangladesh sarkar 2009 saale jatiyo paribesh p...  Bengali
43412                          Bharatiya Budha Mahasabha  Marathi

[43413 rows x 2 columns]

In [ ]:
df1['lang'].unique()

array(['Bengali', 'Telugu', 'Kannada', 'Hindi', 'Marathi'], dtype=object)

In [ ]:
def normalize_text(row):
    
    label = '__label__' + str(row['lang'])
    txt = str(row['input'])
    
    return ' '.join(( label + ' , ' + txt ).split())

In [ ]:
df1['normalized'] = df1.apply( lambda row: normalize_text(row), axis=1 )

In [ ]:
df1.columns

Index(['input', 'lang', 'normalized'], dtype='object')

In [ ]:
df1.head(50)

,input,lang,normalized
0,"Owen Lee Hargreaves (jonmo 20 January 1981, Al...",Bengali,"__label__Bengali , Owen Lee Hargreaves (jonmo ..."
1,mb ki ee class audience entha baaga hand ic...,Telugu,"__label__Telugu , mb ki ee class audience enth..."
2,Sisira rituvina magha masada krsnapaksa caturd...,Kannada,"__label__Kannada , Sisira rituvina magha masad..."
3,protivaban swagotik springbokderke 1-0 babodha...,Bengali,"__label__Bengali , protivaban swagotik springb..."
4,me senapati Fan Ven ne sinhaasan par adhikar k...,Hindi,"__label__Hindi , me senapati Fan Ven ne sinhaa..."
5,samuh se tatparya panthik ya bhashayi alpsankh...,Hindi,"__label__Hindi , samuh se tatparya panthik ya ..."
6,ulumege beku.,Kannada,"__label__Kannada , ulumege beku."
7,1995 saali Uttar Pradesh rajyatil nivadnuka ji...,Marathi,"__label__Marathi , 1995 saali Uttar Pradesh ra..."
8,Mohilader Cricket,Bengali,"__label__Bengali , Mohilader Cricket"
9,kruntak (artha: kurtadkhor praani),Marathi,"__label__Marathi , kruntak (artha: kurtadkhor ..."
10,gatij urja karak:,Marathi,"__label__Marathi , gatij urja karak:"
11,Baytu ek Rajasthan ke Barmer jile ki ek tahasi...,Hindi,"__label__Hindi , Baytu ek Rajasthan ke Barmer ..."
12,Fixed,Hindi,"__label__Hindi , Fixed"
13,Thalak tipa aani tejasavi paan pardarshi saai ...,Marathi,"__label__Marathi , Thalak tipa aani tejasavi p..."
14,vayachya saatvya varshanpasun Ashok Samel yann...,Marathi,"__label__Marathi , vayachya saatvya varshanpas..."
15,Prativarsh ghatit hone wali is khagoliy mahatw...,Hindi,"__label__Hindi , Prativarsh ghatit hone wali i..."
16,"Illi gypsum, sunnakallu, graphite, taamra, dol...",Kannada,"__label__Kannada , Illi gypsum, sunnakallu, gr..."
17,un‍hone apne career ke dauraan ek chaval ki 19...,Hindi,"__label__Hindi , un‍hone apne career ke dauraa..."
18,anthya,Kannada,"__label__Kannada , anthya"
19,Kintu erpor thekei tar boli besh durbol hote t...,Bengali,"__label__Bengali , Kintu erpor thekei tar boli..."
20,Jekhanei mohilara sekhanei tara boi bikri kora...,Bengali,"__label__Bengali , Jekhanei mohilara sekhanei ..."
21,ni bonda le appatiki ippatiki Eppatiki fan ...,Telugu,"__label__Telugu , ni bonda le appatiki ippatik..."
22,Madhya Pradeshatil pashuvaidyakiya vidyapithan...,Marathi,"__label__Marathi , Madhya Pradeshatil pashuvai..."
23,Tanna yauvanakaaladindalu Mountbaton‌‌nige bah...,Kannada,"__label__Kannada , Tanna yauvanakaaladindalu M..."
24,Masaachusetsna fraaminghamnalli pradhaana kaar...,Kannada,"__label__Kannada , Masaachusetsna fraaminghamn..."
25,Er purbo pashe Bharot-Bangladesh simanto.,Bengali,"__label__Bengali , Er purbo pashe Bharot-Bangl..."
26,"data ko labhkari mante hai, lekin is tarah ke ...",Hindi,"__label__Hindi , data ko labhkari mante hai, l..."
27,chi vaidyakiya pariksha uttirna zalya.,Marathi,"__label__Marathi , chi vaidyakiya pariksha utt..."
28,babu admin st half baagundhi that interval fi...,Telugu,"__label__Telugu , babu admin st half baagundhi..."
29,ek aatankvaadi ko dandit kiyan jana chahiye.,Hindi,"__label__Hindi , ek aatankvaadi ko dandit kiya..."
30,"Tini biswavidyaloia sahitto, shongbadhikota eb...",Bengali,"__label__Bengali , Tini biswavidyaloia sahitto..."
31,A kaajti korar jonne ghono mul neyar proyojon ...,Bengali,"__label__Bengali , A kaajti korar jonne ghono ..."
32,Yanantar tin kinva char charan swar ani sahity...,Marathi,"__label__Marathi , Yanantar tin kinva char cha..."
33,viyena dokholer porpori soviyet soinyora shoho...,Bengali,"__label__Bengali , viyena dokholer porpori sov..."
34,britannalli udbhavisida prathama jatila kaigaa...,Kannada,"__label__Kannada , britannalli udbhavisida pra..."
35,Aarogya mattu kshemarakshana kaayidegala chari...,Kannada,"__label__Kannada , Aarogya mattu kshemarakshan..."
36,akravi uttirna kelyavar Manoj Pande Kendriya L...,Marathi,"__label__Marathi , akravi uttirna kelyavar Man..."
37,"Onyotomo ullekhjogyo ghotona holo, bank-ti gaz...",Bengali,"__label__Bengali , Onyotomo ullekhjogyo ghoton..."
38,"Tathapi, onek desh, jemon -Sweden, Switzerland...",Bengali,"__label__Bengali , Tathapi, onek desh, jemon -..."
39,Tobe bortomane ei stadiume Football beshi khel...,Bengali,"__label__Bengali , Tobe bortomane ei stadiume ..."
40,Rijudar songe sufokor-e,Bengali,"__label__Bengali , Rijudar songe sufokor-e"
41,kala me aam taur par dikhai dene vale iksinge ...,Hindi,"__label__Hindi , kala me aam taur par dikhai d..."
42,"dharm se ise alag karte huye kiya hai, jinhen ...",Hindi,"__label__Hindi , dharm se ise alag karte huye ..."
43,teravad bauddho dvara 6thi shatabdi me banaya ...,Hindi,"__label__Hindi , teravad bauddho dvara 6thi sh..."
44,NTR voice vinadani kae pataas muvi ki vellaaa...,Telugu,"__label__Telugu , NTR voice vinadani kae pataa..."
45,Navya gajhalkarankadun aashvasak lekhan (marat...,Marathi,"__label__Marathi , Navya gajhalkarankadun aash..."
46,Samudradalli siguva meenu muntaada praanigalu,Kannada,"__label__Kannada , Samudradalli siguva meenu m..."
47,Aundha Nagnath talukyatil kahi gaave.,Marathi,"__label__Marathi , Aundha Nagnath talukyatil k..."
48,THE CBSI indu americada pavithra hegguruthaagide.,Kannada,"__label__Kannada , THE CBSI indu americada pav..."
49,"Harshanandaji, Swami Uddavanandaji, Swami Jaga...",Kannada,"__label__Kannada , Harshanandaji, Swami Uddava..."

In [ ]:
n = int(len(df1)*0.75)
n

32559

In [ ]:
train = df1['normalized'][:n].copy()
test = df1['normalized'][n:].copy()

In [ ]:
mkdir -p data

In [ ]:
np.savetxt('data/yo.train', train.values, fmt="%s")
np.savetxt('data/yo.eval', test.values, fmt="%s")

In [ ]:
!git clone https://github.com/facebookresearch/fastText.git

Cloning into 'fastText'...
remote: Enumerating objects: 3930, done.
remote: Counting objects: 100% (944/944), done.
remote: Compressing objects: 100% (140/140), done.
remote: Total 3930 (delta 854), reused 804 (delta 804), pack-reused 2986
Receiving objects: 100% (3930/3930), 8.24 MiB | 20.49 MiB/s, done.
Resolving deltas: 100% (2505/2505), done.

In [ ]:
%%bash
cd fastText/
make

c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/args.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/autotune.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/matrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/dictionary.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/loss.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/productquantizer.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/densematrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/quantmatrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/vector.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/model.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/utils.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/meter.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/fasttext.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG args.o autotune.o matrix.o dictionary.o loss.o productquantizer.o densematrix.o quantmatrix.o vector.o model.o utils.o meter.o fasttext.o src/main.cc -o fasttext

In [ ]:
%%bash
mkdir -p model

TRAIN=data/yo.train
RESULT=model/yo

./fastText/fasttext supervised -input $TRAIN -output $RESULT

Read 0M words
Number of words:  134581
Number of labels: 5
Progress: 100.0% words/sec/thread:  203286 lr:  0.000000 avg.loss:  0.218389 ETA:   0h 0m 0s

In [ ]:
%%bash
MODEL=model/yo.bin
TEST=data/yo.eval

./fastText/fasttext test $MODEL $TEST

N	10854
P@1	0.934
R@1	0.934

In [ ]:
%%bash
mkdir -p prediction

MODEL=model/yo.bin
TEST=data/yo.eval
OUTPUT=prediction/yo.eval.predict

./fastText/fasttext predict $MODEL $TEST > $OUTPUT

In [ ]:
test1 = pd.read_csv('valid1.csv')

In [ ]:
test1 = test1[['input','lang']]

In [ ]:
test1.where(test1["lang"]!="Telegu",inplace = True)

In [ ]:
test1.where(test1["lang"]!="Tamil",inplace = True)

In [ ]:
test1 = test1.dropna()

In [ ]:
test1['lang'].unique()

array(['Kannada', 'Hindi', 'Bengali', 'Marathi'], dtype=object)

In [ ]:
test1.head()

                                               input     lang
1  1906ralli Thomas Tharp embuvanu ee sunitagalan...  Kannada
2  eegaagale Sony CBS hesarina brand balakege alp...  Kannada
3  Europe, England mattu Bhaaratada Collegeugalal...  Kannada
4                       Tadegode nirmisidare laabha:  Kannada
5           silbhar sulfide ek acarbonic yaugik hai.    Hindi

In [ ]:
test11 = pd.concat([te_te_df,test1],axis = 0)

In [ ]:
test = test11.sample(frac=1, random_state=1)
test = test.reset_index()
test = test.drop("index",axis = 1)
test

                                                 input     lang
0              pathy sikar korar koushol nana rokomer.  Bengali
1     hmm  I love Malick  Aana TO THE WONDER le ena...   Telugu
2    Endhi ra idhi  vallu aadakunte needemi poyindh...   Telugu
3    Eppudu em matladalo Teliudu Explanation ichadu...   Telugu
4    Valbi ya katakshane 'gharguti' va 'kutumb' yam...  Marathi
..                                                 ...      ...
618  really saying movie is average nuvu admin inka...   Telugu
619   alaanti sangdhigdham eppudu raaledhu  Money v...   Telugu
620    Hola Talina soy Omar  Quiero contarte alguna...   Telugu
621  ya 'Pratibha Pratishthan'che paise mudatichya ...  Marathi
622                                Movie bavundi  supb   Telugu

[623 rows x 2 columns]

In [ ]:
test['lang'].unique()

array(['Bengali', 'Telugu', 'Marathi', 'Kannada', 'Hindi'], dtype=object)

In [ ]:
np.savetxt('data/yo.test', test['input'].values, fmt="%s")

In [ ]:
%%bash

MODEL=model/yo.bin
TEST=data/yo.test
RESULT=prediction/yo.test.predict

./fastText/fasttext predict $MODEL $TEST > $RESULT

In [ ]:
%%bash

RESULT=prediction/yo.test.predict

echo 'top: '    && head $RESULT
echo 'bottom: ' && tail $RESULT

top:
__label__Bengali
__label__Telugu
__label__Telugu
__label__Telugu
__label__Marathi
__label__Telugu
__label__Kannada
__label__Hindi
__label__Telugu
__label__Hindi
bottom:
__label__Telugu
__label__Hindi
__label__Marathi
__label__Marathi
__label__Marathi
__label__Telugu
__label__Telugu
__label__Hindi
__label__Marathi
__label__Hindi

In [ ]:
!pip install fasttext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |████████████████████████████████| 68 kB 3.6 MB/s
Collecting pybind11>=2.2
  Using cached pybind11-2.10.1-py3-none-any.whl (216 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.21.6)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3158297 sha256=c51c9beeb9e45b950bd9bda31d48dd14493fbd80be48e2b039b389feba8d398b
  Stored in directory: /root/.cache/pip/wheels/4e/ca/bf/b020d2be95f7641801a6597a29c8f4f19e38f9c02a345bab9b
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.1

In [ ]:
import fasttext as ft

In [ ]:
model = ft.load_model('model/yo.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
text = 'ye kaise pata challa'   #hindi
model.predict(text)

(('__label__Hindi',), array([0.98336935]))

In [ ]:
text = 'eegaagale maadi '   #kannada
model.predict(text)

(('__label__Kannada',), array([0.99982899]))

In [ ]:
text = 'bhalo achhi'    #bengali
model.predict(text)

(('__label__Bengali',), array([0.80329567]))

In [ ]:
text = 'gaav ahe'       #marathi 
model.predict(text)

(('__label__Marathi',), array([0.99999487]))

In [ ]:
text = 'eppudu em cheystav neeke telidhu'
model.predict(text)

(('__label__Telugu',), array([1.0000006]))